* {
  box-sizing: border-box;
  margin: 0px;
}

.container {
  background-color: #0f172a;
  color: #f8fafc;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 150px;
}

h1 {
  font-family: "Roboto";
  margin-bottom: 25px;
}

@media screen and (min-width: "768px") {
  img {
    width: 300px;
  }

  h1 {
    font-size: 30px;
  }
}
